body {
  background-color: $color-lightgray;
  font-family: $font-primary, $font-secondary;
}

// override bootstrap container class max-width of screen size min-width 1200px
.container {
  @media (min-width: 1300px) {
    max-width: 1450px;
  }
}
