@mixin font-size($size) {
  font-size: $size;
  font-size: rem($size);
}

@mixin pseudo($display: block, $position: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $position;
}
